# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,php}]
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.sh]
indent_size = 4

[*.zsh]
indent_size = 4

# Shell scripts without extension
[asimov]
indent_size = 4

[asimov-zsh]
indent_size = 4

# Plist files
[*.plist]
indent_size = 4
